In [32]:
import pandas as pd

#### Dados disponiveis em: https://cearatransparente.ce.gov.br/portal-da-transparencia/servidores?stats_month_year=03/2022&utf8=%E2%9C%93&__=__

<img src='imagens/dicionario.png'>

In [68]:
df = pd.read_csv("datasets/servidores_202202.csv",names=['Servidor','Orgao','Cargo','SituacaoFuncional','TotalDescontos','AbatimentoTeto','OutrosDescontos','SalarioBruto','SalarioLiquido','Diarias'])
df

,Servidor,Orgao,Cargo,SituacaoFuncional,TotalDescontos,AbatimentoTeto,OutrosDescontos,SalarioBruto,SalarioLiquido,Diarias
0,ANTONIO MARCONI LEMOS DA SILVA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,15028.27,3511.81,11516.46,38974.03,23945.76,0.0
1,DENISE ANDRADE ARAUJO,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,14714.46,0.00,14714.46,28266.44,13551.98,0.0
2,ANTONIO SERGIO BELTRAO MAFRA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,9215.62,0.00,9215.62,26644.73,17429.11,0.0
3,EMERSON CARVALHO DE LIMA,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,12159.20,0.00,12159.20,36085.57,23926.37,0.0
4,GEORGE DANTAS NUNES,CGE,AUDITOR DE CONTROLE INTERNO,Ativo,8545.36,0.00,8545.36,25002.97,16457.61,0.0
...,...,...,...,...,...,...,...,...,...,...
159832,ANA PAULA DE MOURA,SEDUC-CPTD,PROF CTPD PEDAG,Ativo,642.01,0.00,642.01,4105.63,3463.62,0.0
159833,JOSE THOME DA FROTA,SEDET,Coordenador,Ativo,406.45,0.00,406.45,1884.65,1478.20,0.0
159834,MARIA APARECIDA MOURA DE LIMA,SEDUC-CPTD,PROF CTPD PEDAG,Ativo,165.57,0.00,165.57,1839.71,1674.14,0.0
159835,TIAGO REZENDE LEITE,SEDET,Coordenador,Ativo,473.39,0.00,473.39,3923.40,3450.01,0.0
159836,LUIZA CRISTINA DE ALENCAR RODRIGUES,SEDET,Coordenador,Ativo,261.45,0.00,261.45,2955.95,2694.50,0.0

### Verificando se existem dados nulos ou duplicados.

In [69]:
df.isnull().sum()

Servidor                0
Orgao                   0
Cargo                2941
SituacaoFuncional      76
TotalDescontos          0
AbatimentoTeto          0
OutrosDescontos         0
SalarioBruto            0
SalarioLiquido          0
Diarias                 0
dtype: int64

#### Altera todos os valores vazios de Cargo e Situação Funcional

In [70]:
df.Cargo = df.Cargo.fillna('Sem cadastro')
df.SituacaoFuncional = df.SituacaoFuncional.fillna('Sem cadastro')
df.isnull().sum()

Servidor             0
Orgao                0
Cargo                0
SituacaoFuncional    0
TotalDescontos       0
AbatimentoTeto       0
OutrosDescontos      0
SalarioBruto         0
SalarioLiquido       0
Diarias              0
dtype: int64

#### Quantidade de dados duplicados

In [71]:
df.duplicated().sum()

384

#### Apaga os dados duplicados

In [72]:
df = df.drop_duplicates()

### Salva o dataset limpo como csv

In [74]:
df.to_csv("datasets/servidores_202202_format.csv")

In [75]:
df = pd.read_csv("datasets/servidoresformat.csv")